.paragraph {
  text-align: center;
  margin: 80px auto 40px;
  width: 330px;
}

.send-btn , .resend-btn {
  width: 279px;
}

.form-resend-email {
  align-items: center;
  background: #a5a5a5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 6px 7px 8px #00000058;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 355px;
  justify-content: space-evenly;
  opacity: 1;
  position: absolute;
  top: 37vh;
  width: 368px;
  z-index: 5;
}

.resend-email-paragraph {
  height: 44px;
  text-align: center;
  width: 262px;
}

.footer-form-resend-email {
  font: normal normal normal 11px/19px Roboto, sans-serif;
  height: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 220px;
}

.form-resend-email-input {
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid white;
}

.forms-resend-email-error-msg {
  color: #FAF69A;
} 

.title-resend-email-form {
  display: flex;
  margin-bottom: 2vh;
}
