.art-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10vh auto;
}

.btn-container {
  cursor: pointer;
}

.container {
  background-color: #000000;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  display: flex;
}

.counter-parts {
  color: #FFFFFF;
  font: normal normal normal 24px/19px Roboto, sans-serif;
  margin-top: 5vh;
  text-align: center;
}

.done-btn {
  border: 0;
  background: #FF04B6 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font: normal normal normal 24px/32px Roboto, sans-serif;
  height: 50px;
  width: 100%;
}

.download-upload-container {
  display: flex;
  justify-content: space-around;
  width: 288px;
}

.filename {
  margin-top: 20px;
}

.file-input {
  display: none;
}

.header {
  align-items: center;
  border-bottom: 1px solid #707070;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.image-uploaded-container {
  margin-bottom: 30px;
  width: 15vw;
}

.logout {
  cursor: pointer;
}

.pencil-icon {
  cursor: pointer;
}

.tile-img-container {
  width: 35vw;
  margin-left: 35vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-img {
  width: 100%;
  margin-top: 10vh;
  max-height: 70vh;
  object-fit: contain;
}

.title {
  color: #FFF;
  background: none;
  border: none;
  font-size: 24px;
  text-overflow: ellipsis;
  margin-right: 20px;
  text-align: center;
}

.unable-upload {
  color: #F5FF00;
  font: normal normal normal 11px/19px Roboto, sans-serif;
  text-align: center;
}

.unable-upload-container {
  margin: 1vw auto;
  width: 288px;
}

@media (max-aspect-ratio: 4/3) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .art-container {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .tile-img-container {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}